/* src/pages/ProductListPage/ProductListPage.scss */

.product-list-page {

  .product-container {
    margin-top: 30px;
  }
}
.hero {
  background: url('../../assets/images/product/dog/hero.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 100px 0; // 增加padding确保内容不会被头部遮挡
  height: 30vh; // 设置高度确保图片显示合适
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* 设置文字颜色为白色 */
  font-size: 1.5rem; /* 增加文字大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加文字阴影 */
}

.hero h1 {
  color: #fff;
  margin-bottom: 20px;
}
